{
  "name": "Citilights Theme",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "js/property-map.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/min/property-map.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/noo.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/noo-upload.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/dashboard.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/infobox.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/jquery.vc_chart.custom.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/map-picker.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/markerclusterer.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/noo-img-uploader.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/property.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    },
    {
      "path": "js/bing-map.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "less",
      "js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "less/agent.less",
      "imports": [
        "less/agent_dashboard.less"
      ]
    },
    {
      "path": "less/bootstrap.less",
      "imports": [
        "less/bootstrap/variables.less",
        "less/bootstrap/mixins.less",
        "less/bootstrap/normalize.less",
        "less/bootstrap/print.less",
        "less/bootstrap/scaffolding.less",
        "less/bootstrap/type.less",
        "less/bootstrap/code.less",
        "less/bootstrap/grid.less",
        "less/bootstrap/tables.less",
        "less/bootstrap/forms.less",
        "less/bootstrap/component-animations.less",
        "less/bootstrap/dropdowns.less",
        "less/bootstrap/button-groups.less",
        "less/bootstrap/navs.less",
        "less/bootstrap/pager.less",
        "less/bootstrap/labels.less",
        "less/bootstrap/badges.less",
        "less/bootstrap/jumbotron.less",
        "less/bootstrap/thumbnails.less",
        "less/bootstrap/alerts.less",
        "less/bootstrap/progress-bars.less",
        "less/bootstrap/media.less",
        "less/bootstrap/list-group.less",
        "less/bootstrap/panels.less",
        "less/bootstrap/responsive-embed.less",
        "less/bootstrap/wells.less",
        "less/bootstrap/close.less",
        "less/bootstrap/modals.less",
        "less/bootstrap/tooltip.less",
        "less/bootstrap/popovers.less",
        "less/bootstrap/utilities.less",
        "less/bootstrap/responsive-utilities.less",
        "less/bootstrap/mixins/hide-text.less",
        "less/bootstrap/mixins/opacity.less",
        "less/bootstrap/mixins/image.less",
        "less/bootstrap/mixins/labels.less",
        "less/bootstrap/mixins/reset-filter.less",
        "less/bootstrap/mixins/resize.less",
        "less/bootstrap/mixins/responsive-visibility.less",
        "less/bootstrap/mixins/size.less",
        "less/bootstrap/mixins/tab-focus.less",
        "less/bootstrap/mixins/text-emphasis.less",
        "less/bootstrap/mixins/text-overflow.less",
        "less/bootstrap/mixins/vendor-prefixes.less",
        "less/bootstrap/mixins/alerts.less",
        "less/bootstrap/mixins/buttons.less",
        "less/bootstrap/mixins/panels.less",
        "less/bootstrap/mixins/pagination.less",
        "less/bootstrap/mixins/list-group.less",
        "less/bootstrap/mixins/nav-divider.less",
        "less/bootstrap/mixins/forms.less",
        "less/bootstrap/mixins/progress-bar.less",
        "less/bootstrap/mixins/table-row.less",
        "less/bootstrap/mixins/background-variant.less",
        "less/bootstrap/mixins/border-radius.less",
        "less/bootstrap/mixins/gradients.less",
        "less/bootstrap/mixins/clearfix.less",
        "less/bootstrap/mixins/center-block.less",
        "less/bootstrap/mixins/nav-vertical-align.less",
        "less/bootstrap/mixins/grid-framework.less",
        "less/bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "less/fonts.less",
      "imports": [
        "less/bootstrap/variables.less",
        "less/bootstrap/mixins.less",
        "less/mixins.less",
        "less/variables.less",
        "less/bootstrap/mixins/hide-text.less",
        "less/bootstrap/mixins/opacity.less",
        "less/bootstrap/mixins/image.less",
        "less/bootstrap/mixins/labels.less",
        "less/bootstrap/mixins/reset-filter.less",
        "less/bootstrap/mixins/resize.less",
        "less/bootstrap/mixins/responsive-visibility.less",
        "less/bootstrap/mixins/size.less",
        "less/bootstrap/mixins/tab-focus.less",
        "less/bootstrap/mixins/text-emphasis.less",
        "less/bootstrap/mixins/text-overflow.less",
        "less/bootstrap/mixins/vendor-prefixes.less",
        "less/bootstrap/mixins/alerts.less",
        "less/bootstrap/mixins/buttons.less",
        "less/bootstrap/mixins/panels.less",
        "less/bootstrap/mixins/pagination.less",
        "less/bootstrap/mixins/list-group.less",
        "less/bootstrap/mixins/nav-divider.less",
        "less/bootstrap/mixins/forms.less",
        "less/bootstrap/mixins/progress-bar.less",
        "less/bootstrap/mixins/table-row.less",
        "less/bootstrap/mixins/background-variant.less",
        "less/bootstrap/mixins/border-radius.less",
        "less/bootstrap/mixins/gradients.less",
        "less/bootstrap/mixins/clearfix.less",
        "less/bootstrap/mixins/center-block.less",
        "less/bootstrap/mixins/nav-vertical-align.less",
        "less/bootstrap/mixins/grid-framework.less",
        "less/bootstrap/mixins/grid.less",
        "less/variables/base.less",
        "less/variables/header.less",
        "less/variables/shortcode.less",
        "less/variables/miscellaneous.less"
      ]
    },
    {
      "path": "less/idx.less",
      "imports": [
        "less/bootstrap/variables.less",
        "less/variables.less",
        "less/variables/base.less",
        "less/variables/header.less",
        "less/variables/shortcode.less",
        "less/variables/miscellaneous.less"
      ]
    },
    {
      "path": "less/noo.less",
      "imports": [
        "less/animate.less",
        "less/bootstrap.less",
        "less/normalize.less",
        "less/mixins.less",
        "less/main.less",
        "less/buttons.less",
        "less/navbar.less",
        "less/fonts.less",
        "less/jplayer.less",
        "less/masonry.less",
        "less/revslider.less",
        "less/contact-form-7.less",
        "less/forms.less",
        "less/adminbar.less",
        "less/shortcode.less",
        "less/property.less",
        "less/agent.less",
        "less/widgets.less",
        "less/post_n_page.less",
        "less/comments.less",
        "less/breadcrumbs.less",
        "less/pagination.less",
        "less/form-login.less",
        "less/noo-upload.less",
        "less/page-scroll-slider.less",
        "less/variables.less",
        "less/custom.less",
        "less/carousel.less",
        "less/bootstrap/variables.less",
        "less/bootstrap/mixins.less",
        "less/bootstrap/normalize.less",
        "less/bootstrap/print.less",
        "less/bootstrap/scaffolding.less",
        "less/bootstrap/type.less",
        "less/bootstrap/code.less",
        "less/bootstrap/grid.less",
        "less/bootstrap/tables.less",
        "less/bootstrap/forms.less",
        "less/bootstrap/component-animations.less",
        "less/bootstrap/dropdowns.less",
        "less/bootstrap/button-groups.less",
        "less/bootstrap/navs.less",
        "less/bootstrap/pager.less",
        "less/bootstrap/labels.less",
        "less/bootstrap/badges.less",
        "less/bootstrap/jumbotron.less",
        "less/bootstrap/thumbnails.less",
        "less/bootstrap/alerts.less",
        "less/bootstrap/progress-bars.less",
        "less/bootstrap/media.less",
        "less/bootstrap/list-group.less",
        "less/bootstrap/panels.less",
        "less/bootstrap/responsive-embed.less",
        "less/bootstrap/wells.less",
        "less/bootstrap/close.less",
        "less/bootstrap/modals.less",
        "less/bootstrap/tooltip.less",
        "less/bootstrap/popovers.less",
        "less/bootstrap/utilities.less",
        "less/bootstrap/responsive-utilities.less",
        "less/animations.less",
        "less/agent_dashboard.less",
        "less/variables/base.less",
        "less/variables/header.less",
        "less/variables/shortcode.less",
        "less/variables/miscellaneous.less",
        "less/bootstrap/mixins/hide-text.less",
        "less/bootstrap/mixins/opacity.less",
        "less/bootstrap/mixins/image.less",
        "less/bootstrap/mixins/labels.less",
        "less/bootstrap/mixins/reset-filter.less",
        "less/bootstrap/mixins/resize.less",
        "less/bootstrap/mixins/responsive-visibility.less",
        "less/bootstrap/mixins/size.less",
        "less/bootstrap/mixins/tab-focus.less",
        "less/bootstrap/mixins/text-emphasis.less",
        "less/bootstrap/mixins/text-overflow.less",
        "less/bootstrap/mixins/vendor-prefixes.less",
        "less/bootstrap/mixins/alerts.less",
        "less/bootstrap/mixins/buttons.less",
        "less/bootstrap/mixins/panels.less",
        "less/bootstrap/mixins/pagination.less",
        "less/bootstrap/mixins/list-group.less",
        "less/bootstrap/mixins/nav-divider.less",
        "less/bootstrap/mixins/forms.less",
        "less/bootstrap/mixins/progress-bar.less",
        "less/bootstrap/mixins/table-row.less",
        "less/bootstrap/mixins/background-variant.less",
        "less/bootstrap/mixins/border-radius.less",
        "less/bootstrap/mixins/gradients.less",
        "less/bootstrap/mixins/clearfix.less",
        "less/bootstrap/mixins/center-block.less",
        "less/bootstrap/mixins/nav-vertical-align.less",
        "less/bootstrap/mixins/grid-framework.less",
        "less/bootstrap/mixins/grid.less"
      ]
    },
    {
      "path": "less/shortcode.less",
      "imports": [
        "less/animations.less"
      ]
    },
    {
      "path": "less/variables.less",
      "imports": [
        "less/variables/base.less",
        "less/variables/header.less",
        "less/variables/shortcode.less",
        "less/variables/miscellaneous.less"
      ]
    },
    {
      "path": "less/woocommerce.less",
      "imports": [
        "less/bootstrap/variables.less",
        "less/bootstrap/mixins.less",
        "less/mixins.less",
        "less/variables.less",
        "less/bootstrap/mixins/hide-text.less",
        "less/bootstrap/mixins/opacity.less",
        "less/bootstrap/mixins/image.less",
        "less/bootstrap/mixins/labels.less",
        "less/bootstrap/mixins/reset-filter.less",
        "less/bootstrap/mixins/resize.less",
        "less/bootstrap/mixins/responsive-visibility.less",
        "less/bootstrap/mixins/size.less",
        "less/bootstrap/mixins/tab-focus.less",
        "less/bootstrap/mixins/text-emphasis.less",
        "less/bootstrap/mixins/text-overflow.less",
        "less/bootstrap/mixins/vendor-prefixes.less",
        "less/bootstrap/mixins/alerts.less",
        "less/bootstrap/mixins/buttons.less",
        "less/bootstrap/mixins/panels.less",
        "less/bootstrap/mixins/pagination.less",
        "less/bootstrap/mixins/list-group.less",
        "less/bootstrap/mixins/nav-divider.less",
        "less/bootstrap/mixins/forms.less",
        "less/bootstrap/mixins/progress-bar.less",
        "less/bootstrap/mixins/table-row.less",
        "less/bootstrap/mixins/background-variant.less",
        "less/bootstrap/mixins/border-radius.less",
        "less/bootstrap/mixins/gradients.less",
        "less/bootstrap/mixins/clearfix.less",
        "less/bootstrap/mixins/center-block.less",
        "less/bootstrap/mixins/nav-vertical-align.less",
        "less/bootstrap/mixins/grid-framework.less",
        "less/bootstrap/mixins/grid.less",
        "less/variables/base.less",
        "less/variables/header.less",
        "less/variables/shortcode.less",
        "less/variables/miscellaneous.less"
      ]
    },
    {
      "path": "less/bootstrap/mixins.less",
      "imports": [
        "less/bootstrap/mixins/hide-text.less",
        "less/bootstrap/mixins/opacity.less",
        "less/bootstrap/mixins/image.less",
        "less/bootstrap/mixins/labels.less",
        "less/bootstrap/mixins/reset-filter.less",
        "less/bootstrap/mixins/resize.less",
        "less/bootstrap/mixins/responsive-visibility.less",
        "less/bootstrap/mixins/size.less",
        "less/bootstrap/mixins/tab-focus.less",
        "less/bootstrap/mixins/text-emphasis.less",
        "less/bootstrap/mixins/text-overflow.less",
        "less/bootstrap/mixins/vendor-prefixes.less",
        "less/bootstrap/mixins/alerts.less",
        "less/bootstrap/mixins/buttons.less",
        "less/bootstrap/mixins/panels.less",
        "less/bootstrap/mixins/pagination.less",
        "less/bootstrap/mixins/list-group.less",
        "less/bootstrap/mixins/nav-divider.less",
        "less/bootstrap/mixins/forms.less",
        "less/bootstrap/mixins/progress-bar.less",
        "less/bootstrap/mixins/table-row.less",
        "less/bootstrap/mixins/background-variant.less",
        "less/bootstrap/mixins/border-radius.less",
        "less/bootstrap/mixins/gradients.less",
        "less/bootstrap/mixins/clearfix.less",
        "less/bootstrap/mixins/center-block.less",
        "less/bootstrap/mixins/nav-vertical-align.less",
        "less/bootstrap/mixins/grid-framework.less",
        "less/bootstrap/mixins/grid.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7887,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"outputSuffix\":null}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"relative\":\"min\"},\"outputSuffix\":\".min\"}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}